<!DOCTYPE html>
<html>
  <head>
    <title>Rails Dice Roll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      .navbar {
        display: flex;
      	justify-content: space-around;
      }
    </style>
    
  </head>

  <body>
  <div class='navbar'>
    <div><%= link_to "Home", root_path %></div>
    <div><%= link_to "2d6", roll_path(2, 6) %></div>
    <div><%= link_to "2d10", roll_path(2, 10) %></div>
    <div><%= link_to "1d20", roll_path(1, 20) %></div>
    <div><%= link_to "5d4", roll_path(5, 4) %></div>
  </div>

    <%= yield %>

  </body>
</html>
